= simple_form_for([@garage, @timetable]) do |f|
  = f.error_notification
  = f.association :garage, as: :hidden

  = render 'timetables/shared/fields', f: f, timetable: @timetable
  .b-keypad
    = f.button :submit, class: "b-keypad__btn--success"


coffee:
  $ ->
    $('input:checkbox').on 'ifClicked', event, ->
      day = $(this).attr('data-day')
      checked = $(this).is(":checked")

      $("#timetable_"+day+"_morning_close").val('').prop('disabled', !checked)
      $("#timetable_"+day+"_afternoon_open").val('').prop('disabled', !checked)

    $(".timepicker").timepicker
      showInputs: false,
      defaultTime: '00:00',
      showMeridian: false,
      minuteStep: 15