// Config
$topbar-bgcolor: $white;
$topbar-fontcolor: #999c9e;
$topbar-height: $offset-top;

// Base
.l-topbar {
	height: $topbar-height;
	background-color: $topbar-bgcolor;
	border-bottom: 1px solid $border-bgcolor;

	@extend .row;
	@extend .navbar;
	@extend .navbar-default;
	@include trailer(2);
}

.l-topbar__header {
	height: 100%;
	@extend .col-xs-8;

	.m-button--menu {
		position: relative;
		top: .65em;
	}

	.norauto-logo {
		margin-left: 1.5em;
		position: relative;
		top: .375em;
	}
}

.l-topbar__footer {
	line-height: $topbar-height;
	color: $topbar-fontcolor;
	text-align: right;
	@extend .col-xs-4;

	> a {
		color: $topbar-fontcolor;
		font-weight: bold;
	}

	.fa-sign-out {
		margin-right: .5em;
	}
}
