// Config
$main-offset: $offset-left;

// Base
.l-main {
  overflow-x: hidden;

  @extend .container-fluid;
  @include single-transition(transform, .2s, ease-out);
  @include translateX($main-offset);

  &.expand {
    @include translateX(0);
  }

  &.contract {
    @include translateX($main-offset);
  }

  @media (max-width: $screen-sm-min) {
    @include translateX(0);
    min-width: 320px;
  }
}
