// Config
$main-offset: $offset-left;

// Base
.l-main {
  background-color: red;
  @extend .container-fluid;

  @media (max-width: $screen-md-min) {
    min-width: 320px;
    @include single-transition(transform, .2s, ease-out);
    @include translateX(0);

    &.contract {
      @include translateX($main-offset);
    }
  }

  @media (min-width: $screen-md-min) {
    margin-left: $main-offset;
  }
}
