- if current_user.owner? && !current_user.garage.active?
  .callout.callout-danger
    h4 ¡Su garage todavia no está activado!
    p Bienvenido, para terminar el proceso de activación, es necesario rellenar la ficha de garage totalmente. Las notificaciones de la barra superior le indicarán que falta exactamente aún por completar.
