- options =  { placeholder: "#{t('filter_by')} #{t(type)}", class: 'form-control js_searchable' }.merge( extra_options )
=text_field_tag("garage_recruitable[#{type}]", value_of_param_in?(params, type), options )
