@mixin block($block) {
  .#{$block} {
    @content;
  }
}

@mixin element($block, $element) {
  .#{$block}__#{$element} {
    @content;
  }
}

@mixin modifier($block, $modifier) {
  .#{$block}--#{$modifier} {
    @content;
    @extend .#{$block};
  }
}

@mixin buttonize($text, $background) {
  &%colors {
    background-color: $background;
    border-color: darken($background, 5%);
    color: $text;
  }

  @extend %colors;
  @extend %button;

  @each $state in focus, hover {
    &:#{$state} {
      @extend %colors;

      @if $state == hover {
        background-color: darken($background, 2%);
      }
    }
  }
}
