// Config
$btn-bg-color: $green;
$btn-font-color: $white;

$btn-back-bg-color: #fafafa;
$btn-back-font-color: #767676;

// Blocks
@include block(m-btn) {
	@include buttonize($btn-font-color, $btn-bg-color);
}

@include modifier(m-btn, back) {
	@include buttonize($btn-back-font-color, $btn-back-bg-color);
}

@include modifier(m-btn, menu) {
	padding: .4rem 1.2rem;
}

@include modifier(m-btn, large) {
	width: 100%;
}
