// Config
$navbar-bg-color: #f6f6f6;
$navbar-font-color: #999;

// Blocks
@include block(m-navbar) {
	background-color: $navbar-bg-color;
	@extend .nav;
	@extend .nav-tabs;
	@extend .nav-justified;
}

@include element(m-navbar, tab) {
	&:first-child {
		a { border-left-color: transparent !important; }
	}

	&:last-child {
		a { border-right-color: transparent !important; }
	}

	> a {
		padding: 5px 15px !important;
		color: $navbar-font-color;
		border-radius: 0 !important;
	}
}
