// Config
$box-header-icon: $fa-th;
$box-header-font-color: $white;
$box-header-bg-color: $blue;
$box-header-border-color: $blue;

// Blocks
@include block(m-box) {
	@extend .panel;
	@extend .panel-default;
	@include border-radius(0);
}

@include element(m-box, header) {
	background-color: $box-header-bg-color !important;
	border: $box-header-border-color;
	color: $box-header-font-color !important;
	@extend .panel-heading;
}

@include element(m-box__header, title) {
	@extend .panel-title;
	@include iconize($box-header-icon);
}

@include element(m-box, body) {
	@extend .panel-body;
}
