.crudbar-theme {
  > .btn {
    margin-right: .25em;
    padding: 2px 8px;
  }
}

.btn-group-theme {
  margin-top: 2em;

  > .btn {
    margin-right: .5em;
  }
}

.simple_form {
  .icheckbox_minimal {
    margin-right: .5em;
  }
}
