.crudbar-theme {
  > .btn {
    margin-right: .25em;
    padding: 2px 8px;
  }
}

.btn-group-theme {
  margin-top: 2em;

  > .btn {
    margin-right: .5em;
  }
}

.simple_form {
  .icheckbox_minimal {
    margin-right: .5em;
  }
}

.nav-tabs-custom {
  .nav-tabs {
    .icon {
      padding-right: .5em;

      @media (max-width: 768px) {
        padding: 0;
        font-size: 1em;
      }
    }
    li {
      @media (max-width: 768px) {
        margin: 0 !important;
        width: 25%;
        text-align: center;
      }

      > a {
        color: #999;
        > span {
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
      &.active {
        a {
          color: #333;
        }
      }
    }
  }
  .header {
    @media (max-width: 768px) {
      float: none !important;
      width: 100% !important;
      display: inline-block;
      text-align: center;
    }
  }
}