$width-sidebar: 200px;
$height-top-bar: 50px;

$color-black: #333;
$color-gray: #aaa;
$color-white: #f0f0f0;

$color-sidebar: $color-black;
$color-sidebar-text: $color-gray;
$color-body: $color-white;

// $brand-primary: #428bca;
// $brand-success: #5cb85c;
// $brand-info:    #5bc0de;
// $brand-warning: #f0ad4e;
// $brand-danger:  #d9534f;
