// Vendors
@import "bootstrap";
@import "font-awesome";
@import "ionicons";
@import "bootstrap-timepicker";
@import "jquery-ui/datepicker";
@import "AdminLTE";

// Base
@import "base/config";
@import "base/mixins";

// Modules
@import "modules/crudbar";
@import "modules/keypad";
@import "modules/tabs";

// Layout
@import "modules/public_form";


// Little fixes
.simple_form .icheckbox_minimal {
  margin-right: .5em;
  top: -2px;
}

.garage-map {
  margin-bottom: 2em;
  @extend .img-responsive;
  @extend .img-thumbnail;
}

.garage-avatar {
  margin-top: 1em;
  @extend .garage-map;
}

.map-info {
  margin-top: 1em;

  &:before {
    content: "";
    display: block;
    border-left: 1px solid #f4f4f4;
    height: 100%;
    width: .25em;
    left: -7.5%;
    position: absolute;
  }

  .icon {
    margin-right: .5em;
    color: #1c7ebb;
  }

  li {
    margin-bottom: .5em;
    border-bottom: 1px solid #f4f4f4;
    margin-left: .5em;

    label {
      font-size: 1.1em;
      color: #666;
      width: 5em;
    }
  }
}

.change_password {
  margin-top: 2em;
  margin-bottom: 1em;
}

.secondary-title-fees {
  margin-top: 2em;

  h4 {
    margin-bottom: .25em;
  }

  p { color: #888; }
}
